[user]
	email = carlos.nietodelacuesta@telefonica.com
	name = Carlos Nieto
[credential]
        helper = cache --timeout 604800
[alias]
	st = status
	c = !git add -A && git commit
[core]
	excludefile = $HOME/.gitignore_global
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
